.icons-sprite,
.app-footer .monoku,
.app-footer .espectador,
.app-footer .congresovisible,
.app-footer .uniandes,
#main.last-round:before,
#poll .relevancy .relevancy__level,
#poll .recommendation__empty .mask,
#intention .selected:after
  background: url("../images/icons-s47e1dfef7b.755ae87ac7b1.png") no-repeat

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  margin: 0

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
  display: block

audio,
canvas,
progress,
video
  display: inline-block
  vertical-align: baseline

audio:not([controls])
  display: none
  height: 0

[hidden],
template
  display: none

a
  background: transparent

a:active,
a:hover
  outline: 0

abbr[title]
  border-bottom: 1px dotted

b,
strong
  font-weight: bold

dfn
  font-style: italic

h1
  font-size: 2em
  margin: 0.67em 0

mark
  background: #ff0
  color: #000

small
  font-size: 80%

sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

img
  border: 0

svg:not(:root)
  overflow: hidden

figure
  margin: 1em 40px

hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0

pre
  overflow: auto

code,
kbd,
pre,
samp
  font-family: monospace, monospace
  font-size: 1em

button,
input,
optgroup,
select,
textarea
  color: inherit
  font: inherit
  margin: 0

button
  overflow: visible

button,
select
  text-transform: none

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: button
  cursor: pointer

button[disabled],
html input[disabled]
  cursor: default

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

input
  line-height: normal

input[type="checkbox"],
input[type="radio"]
  box-sizing: border-box
  padding: 0

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  height: auto

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

table
  border-collapse: collapse
  border-spacing: 0

td,
th
  padding: 0

.hidden
  display: none !important
  visibility: hidden

.centered
  max-width: 960px
  *width: 960px
  margin-left: auto
  margin-right: auto

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.invisible
  visibility: hidden

.clearfix
  *zoom: 1

.clearfix:after
  content: ""
  display: block
  height: 0
  clear: both

.view-animate-container
  position: relative

.view-animate.ng-enter
  -webkit-animation: enter 1s
  -moz-animation: enter 1s
  -ms-animation: enter 1s
  -o-animation: enter 1s
  animation: enter 1s

.view-animate.ng-leave
  -webkit-animation: leave 1s
  -moz-animation: leave 1s
  -ms-animation: leave 1s
  -o-animation: leave 1s
  animation: leave 1s
  position: absolute
  width: 100%

@keyframes enter
  0%
    opacity: 0
    -webkit-transform: translate3d(0, 200px, 0)
    -moz-transform: translate3d(0, 200px, 0)
    -ms-transform: translate3d(0, 200px, 0)
    -o-transform: translate3d(0, 200px, 0)
    transform: translate3d(0, 200px, 0)
  50%
    opacity: 1
  100%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
@keyframes enter
  0%
    opacity: 0
    -webkit-transform: translate3d(0, 200px, 0)
    -moz-transform: translate3d(0, 200px, 0)
    -ms-transform: translate3d(0, 200px, 0)
    -o-transform: translate3d(0, 200px, 0)
    transform: translate3d(0, 200px, 0)
  50%
    opacity: 1
  100%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
@keyframes enter
  0%
    opacity: 0
    -webkit-transform: translate3d(0, 200px, 0)
    -moz-transform: translate3d(0, 200px, 0)
    -ms-transform: translate3d(0, 200px, 0)
    -o-transform: translate3d(0, 200px, 0)
    transform: translate3d(0, 200px, 0)
  50%
    opacity: 1
  100%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
@keyframes enter
  0%
    opacity: 0
    -webkit-transform: translate3d(0, 200px, 0)
    -moz-transform: translate3d(0, 200px, 0)
    -ms-transform: translate3d(0, 200px, 0)
    -o-transform: translate3d(0, 200px, 0)
    transform: translate3d(0, 200px, 0)
  50%
    opacity: 1
  100%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
@keyframes leave
  0%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  30%
    opacity: 0
  100%
    opacity: 0
    -webkit-transform: translate3d(0, -200px, 0)
    -moz-transform: translate3d(0, -200px, 0)
    -ms-transform: translate3d(0, -200px, 0)
    -o-transform: translate3d(0, -200px, 0)
    transform: translate3d(0, -200px, 0)
@keyframes leave
  0%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  30%
    opacity: 0
  100%
    opacity: 0
    -webkit-transform: translate3d(0, -200px, 0)
    -moz-transform: translate3d(0, -200px, 0)
    -ms-transform: translate3d(0, -200px, 0)
    -o-transform: translate3d(0, -200px, 0)
    transform: translate3d(0, -200px, 0)
@keyframes leave
  0%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  30%
    opacity: 0
  100%
    opacity: 0
    -webkit-transform: translate3d(0, -200px, 0)
    -moz-transform: translate3d(0, -200px, 0)
    -ms-transform: translate3d(0, -200px, 0)
    -o-transform: translate3d(0, -200px, 0)
    transform: translate3d(0, -200px, 0)
@keyframes leave
  0%
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  30%
    opacity: 0
  100%
    opacity: 0
    -webkit-transform: translate3d(0, -200px, 0)
    -moz-transform: translate3d(0, -200px, 0)
    -ms-transform: translate3d(0, -200px, 0)
    -o-transform: translate3d(0, -200px, 0)
    transform: translate3d(0, -200px, 0)
body
  font-family: "franklin-gothic-urw",sans-serif
  line-height: 1.4

a
  font-family: "franklin-gothic-urw",sans-serif

h1
  font-size: 1.9em
  margin-top: 0

h1,
h2,
h3,
h4
  font-family: "franklin-gothic-urw",sans-serif
  line-height: 1.2
  font-weight: normal

html,
button,
input,
select,
textarea
  color: #333

@font-face
  font-family: 'icomoon'
  src: url("../fonts/fonts/icomoon.fcd47025dfd7.eot?7lte1o")
  src: url("../fonts/fonts/icomoon.fcd47025dfd7.eot?#iefix7lte1o") format("embedded-opentype"),url("../fonts/fonts/icomoon.1633b8578ab5.woff?7lte1o") format("woff"),url("../fonts/fonts/icomoon.50fccf3812c2.ttf?7lte1o") format("truetype"),url("../fonts/fonts/icomoon.e60ebc33df82.svg?7lte1o#icomoon") format("svg")
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-help:before
  content: "\e600"

.icon-record:before
  content: "\e601"

.icon-arrow-left:before
  content: "\e602"

.icon-arrow-down:before
  content: "\e603"

.icon-arrow-up:before
  content: "\e604"

.icon-arrow-right:before
  content: "\e605"

.icon-ellipsis:before
  content: "\e606"

.icon-twitter:before
  content: "\e607"

.icon-facebook:before
  content: "\e608"

.qtip
  position: absolute
  left: -28000px
  top: -28000px
  display: none
  max-width: 280px
  min-width: 50px
  font-size: 10.5px
  line-height: 12px
  direction: ltr
  box-shadow: none
  padding: 0

.qtip-content
  position: relative
  padding: 5px 9px
  overflow: hidden
  text-align: left
  word-wrap: break-word

.qtip-titlebar
  position: relative
  padding: 5px 35px 5px 10px
  overflow: hidden
  border-width: 0 0 1px
  font-weight: bold

.qtip-titlebar+.qtip-content
  border-top-width: 0 !important

.qtip-close
  position: absolute
  right: -9px
  top: -9px
  cursor: pointer
  outline: medium none
  border-width: 1px
  border-style: solid
  border-color: transparent

.qtip-titlebar .qtip-close
  right: 4px
  top: 50%
  margin-top: -9px

* html .qtip-titlebar .qtip-close
  top: 16px

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon
  display: block
  text-indent: -1000em
  direction: ltr

.qtip-icon,
.qtip-icon .ui-icon
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  text-decoration: none

.qtip-icon .ui-icon
  width: 18px
  height: 14px
  line-height: 14px
  text-align: center
  text-indent: 0
  font: normal bold 10px/13px Tahoma,sans-serif
  color: inherit
  background: transparent none no-repeat -100em -100em

.qtip-default
  border-width: 1px
  border-style: solid
  border-color: #F1D031
  background-color: #FFFFA3
  color: #555

.qtip-default .qtip-titlebar
  background-color: #FFEF93

.qtip-default .qtip-icon
  border-color: #CCC
  background: #F1F1F1
  color: #777

.qtip-default .qtip-titlebar .qtip-close
  border-color: #AAA
  color: #111

/*! Light tooltip style */
.qtip-light
  background-color: white
  border-color: #E2E2E2
  color: #454545

.qtip-light .qtip-titlebar
  background-color: #f1f1f1

/*! Dark tooltip style */
.qtip-dark
  background-color: #505050
  border-color: #303030
  color: #f3f3f3

.qtip-dark .qtip-titlebar
  background-color: #404040

.qtip-dark .qtip-icon
  border-color: #444

.qtip-dark .qtip-titlebar .ui-state-hover
  border-color: #303030

/*! Cream tooltip style */
.qtip-cream
  background-color: #FBF7AA
  border-color: #F9E98E
  color: #A27D35

.qtip-cream .qtip-titlebar
  background-color: #F0DE7D

.qtip-cream .qtip-close .qtip-icon
  background-position: -82px 0

/*! Red tooltip style */
.qtip-red
  background-color: #F78B83
  border-color: #D95252
  color: #912323

.qtip-red .qtip-titlebar
  background-color: #F06D65

.qtip-red .qtip-close .qtip-icon
  background-position: -102px 0

.qtip-red .qtip-icon
  border-color: #D95252

.qtip-red .qtip-titlebar .ui-state-hover
  border-color: #D95252

/*! Green tooltip style */
.qtip-green
  background-color: #CAED9E
  border-color: #90D93F
  color: #3F6219

.qtip-green .qtip-titlebar
  background-color: #B0DE78

.qtip-green .qtip-close .qtip-icon
  background-position: -42px 0

/*! Blue tooltip style */
.qtip-blue
  background-color: #E5F6FE
  border-color: #ADD9ED
  color: #5E99BD

.qtip-blue .qtip-titlebar
  background-color: #D0E9F5

.qtip-blue .qtip-close .qtip-icon
  background-position: -2px 0

.qtip-shadow
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15)
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15)
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.15)

.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px

.qtip-rounded .qtip-titlebar
  -moz-border-radius: 4px 4px 0 0
  -webkit-border-radius: 4px 4px 0 0
  border-radius: 4px 4px 0 0

.qtip-youtube
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  -webkit-box-shadow: 0 0 3px #333
  -moz-box-shadow: 0 0 3px #333
  box-shadow: 0 0 3px #333
  color: white
  border-width: 0
  background: #4A4A4A
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a), color-stop(100%, #000))
  background-image: -webkit-linear-gradient(top, #4a4a4a 0, #000 100%)
  background-image: -moz-linear-gradient(top, #4a4a4a 0, #000 100%)
  background-image: -ms-linear-gradient(top, #4a4a4a 0, #000 100%)
  background-image: -o-linear-gradient(top, #4a4a4a 0, #000 100%)

.qtip-youtube .qtip-titlebar
  background-color: #4A4A4A
  background-color: rgba(0,0,0,0)

.qtip-youtube .qtip-content
  padding: .75em
  font: 12px arial,sans-serif
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000)
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);"

.qtip-youtube .qtip-icon
  border-color: #222

.qtip-youtube .qtip-titlebar .ui-state-hover
  border-color: #303030

.qtip-jtools
  background: #232323
  background: rgba(0,0,0,0.7)
  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323))
  background-image: -moz-linear-gradient(top, #717171, #232323)
  background-image: -webkit-linear-gradient(top, #717171, #232323)
  background-image: -ms-linear-gradient(top, #717171, #232323)
  background-image: -o-linear-gradient(top, #717171, #232323)
  border: 2px solid #ddd
  border: 2px solid #f1f1f1
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  border-radius: 2px
  -webkit-box-shadow: 0 0 12px #333
  -moz-box-shadow: 0 0 12px #333
  box-shadow: 0 0 12px #333

.qtip-jtools .qtip-titlebar
  background-color: transparent
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)"

.qtip-jtools .qtip-content
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)"

.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content
  background: transparent
  color: white
  border: 0 dashed transparent

.qtip-jtools .qtip-icon
  border-color: #555

.qtip-jtools .qtip-titlebar .ui-state-hover
  border-color: #333

.qtip-cluetip
  -webkit-box-shadow: 4px 4px 5px rgba(0,0,0,0.4)
  -moz-box-shadow: 4px 4px 5px rgba(0,0,0,0.4)
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4)
  background-color: #D9D9C2
  color: #111
  border: 0 dashed transparent

.qtip-cluetip .qtip-titlebar
  background-color: #87876A
  color: white
  border: 0 dashed transparent

.qtip-cluetip .qtip-icon
  border-color: #808064

.qtip-cluetip .qtip-titlebar .ui-state-hover
  border-color: #696952
  color: #696952

.qtip-tipsy
  background: black
  background: rgba(0,0,0,0.87)
  color: white
  border: 0 solid transparent
  font-size: 11px
  font-family: 'Lucida Grande', sans-serif
  font-weight: bold
  line-height: 16px
  text-shadow: 0 1px black

.qtip-tipsy .qtip-titlebar
  padding: 6px 35px 0 10px
  background-color: transparent

.qtip-tipsy .qtip-content
  padding: 6px 10px

.qtip-tipsy .qtip-icon
  border-color: #222
  text-shadow: none

.qtip-tipsy .qtip-titlebar .ui-state-hover
  border-color: #303030

.qtip-tipped
  border: 3px solid #959FA9
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px
  background-color: #F9F9F9
  color: #454545
  font-weight: normal
  font-family: serif

.qtip-tipped .qtip-titlebar
  border-bottom-width: 0
  color: white
  background: #3A79B8
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8), to(#2e629d))
  background-image: -webkit-linear-gradient(top, #3a79b8, #2e629d)
  background-image: -moz-linear-gradient(top, #3a79b8, #2e629d)
  background-image: -ms-linear-gradient(top, #3a79b8, #2e629d)
  background-image: -o-linear-gradient(top, #3a79b8, #2e629d)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)"

.qtip-tipped .qtip-icon
  border: 2px solid #285589
  background: #285589

.qtip-tipped .qtip-icon .ui-icon
  background-color: #FBFBFB
  color: #555

.qtip-bootstrap
  font-size: 14px
  line-height: 20px
  color: #333333
  padding: 1px
  background-color: #ffffff
  border: 1px solid #ccc
  border: 1px solid rgba(0,0,0,0.2)
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2)
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2)
  box-shadow: 0 5px 10px rgba(0,0,0,0.2)
  -webkit-background-clip: padding-box
  -moz-background-clip: padding
  background-clip: padding-box

.qtip-bootstrap .qtip-titlebar
  padding: 8px 14px
  margin: 0
  font-size: 14px
  font-weight: normal
  line-height: 18px
  background-color: #f7f7f7
  border-bottom: 1px solid #ebebeb
  -webkit-border-radius: 5px 5px 0 0
  -moz-border-radius: 5px 5px 0 0
  border-radius: 5px 5px 0 0

.qtip-bootstrap .qtip-titlebar .qtip-close
  right: 11px
  top: 45%
  border-style: none

.qtip-bootstrap .qtip-content
  padding: 9px 14px

.qtip-bootstrap .qtip-icon
  background: transparent

.qtip-bootstrap .qtip-icon .ui-icon
  width: auto
  height: auto
  float: right
  font-size: 20px
  font-weight: bold
  line-height: 18px
  color: #000000
  text-shadow: 0 1px 0 #ffffff
  opacity: 0.2
  filter: alpha(opacity=20)

.qtip-bootstrap .qtip-icon .ui-icon:hover
  color: #000000
  text-decoration: none
  cursor: pointer
  opacity: 0.4
  filter: alpha(opacity=40)

.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar
  filter: none
  -ms-filter: none

.qtip .qtip-tip
  margin: 0 auto
  overflow: hidden
  z-index: 10

x:-o-prefocus,
.qtip .qtip-tip
  visibility: hidden

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas
  position: absolute
  color: #123456
  background: transparent
  border: 0 dashed transparent

.qtip .qtip-tip canvas
  top: 0
  left: 0

.qtip .qtip-tip .qtip-vml
  behavior: url(#default#VML)
  display: inline-block
  visibility: visible

#qtip-overlay
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%

#qtip-overlay.blurs
  cursor: pointer

#qtip-overlay div
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: black
  opacity: 0.7
  filter: alpha(opacity=70)
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"

.qtipmodal-ie6fix
  position: absolute !important

*,
*:before,
*:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  color: #333
  position: relative
  max-width: 1000px
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  text-rendering: optimizelegibility
  font-smooth: antialiased
  padding: 0
  margin: 0 auto
  background: #f3f2f2
  min-height: 250px
  overflow: hidden

html
  padding: 0
  margin: 0
  background: #fff
  overflow: hidden

::-moz-selection
  background: #59c6bd
  text-shadow: none

::selection
  background: #59c6bd
  text-shadow: none

hr
  display: block
  border: 0
  border-top: 1px solid #666
  margin: 1em 0
  padding: 0
  margin: 0.5em 0
  border-top: 1px solid #2f353c
  border-bottom: 1px solid #3f4750
  height: 0

img
  vertical-align: middle

fieldset
  border: 0
  margin: 0
  padding: 0

textarea
  resize: none

a
  color: inherit

button
  color: #fff
  background-color: #004a8e
  border: none
  font-size: 0.9em
  padding: 0.7em 1.6em
  font-weight: 900
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -moz-osx-font-smoothing: antialiased
  text-rendering: optimizelegibility
  font-smooth: antialiased
  -webkit-transition: all 0.1s linear
  -moz-transition: all 0.1s linear
  -o-transition: all 0.1s linear
  transition: all 0.1s linear
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  -ms-border-radius: 2px
  -o-border-radius: 2px
  border-radius: 2px
  text-transform: uppercase
  font-weight: 900

button:hover
  background-color: #003f7a

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

.loading-facade
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 9999999
  background-color: rgba(255,255,255,0.5)
  background-position: center center
  background-repeat: no-repeat
  cursor: wait

.main-title
  color: #004a8e
  text-transform: uppercase
  font-weight: lighter
  position: relative
  text-align: center
  padding-top: 0.8em
  font-size: 2em

.main-title strong
  font-weight: 900
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto

.main-title:before,
.main-title:after
  content: " "
  width: 60px
  margin: 0 0.6em
  display: inline-block
  vertical-align: middle
  border-top: 1px solid #004a8e

@media screen and (max-width: 700px)
  .main-title:before,
.main-title:after
    display: none

.img-container
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  border: 2px solid #f7921e
  display: inline-block
  padding: 3px
  background: #f3f2f2

.img-container img
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%

.candidate-color-1
  border-color: #f7921e !important
  color: #f7921e !important

.candidate-color-2
  border-color: #d2ae00 !important
  color: #d2ae00 !important

.candidate-color-3
  border-color: #39b549 !important
  color: #39b549 !important

.candidate-color-4
  border-color: #0060a9 !important
  color: #0060a9 !important

.candidate-color-5
  border-color: #29abe1 !important
  color: #29abe1 !important

.candidate-bgcolor-1
  background-color: #f7921e !important

.candidate-bgcolor-2
  background-color: #d2ae00 !important

.candidate-bgcolor-3
  background-color: #39b549 !important

.candidate-bgcolor-4
  background-color: #0060a9 !important

.candidate-bgcolor-5
  background-color: #29abe1 !important

.table-tooltip,
.table-tooltip--wider,
.table-tooltip--medium
  background: #fff
  font-size: 0.9em
  line-height: 1.2em
  padding: 0.5em
  border-color: #004a8e
  max-width: 200px

.table-tooltip strong,
.table-tooltip--wider strong,
.table-tooltip--medium strong
  display: block
  color: #004a8e

.table-tooltip--wider
  max-width: 800px

.table-tooltip--medium
  max-width: 300px

.app-footer
  background: #fff
  position: absolute
  z-index: 5
  bottom: 0
  left: 0
  height: 32px
  right: 0
  text-align: center
  line-height: 34px
  font-size: 0.7em
  font-weight: 500
  overflow: hidden
  color: #777

@media screen and (max-width: 410px)
  .app-footer
    height: 70px

.app-footer .monoku,
.app-footer .espectador,
.app-footer .congresovisible,
.app-footer .uniandes
  vertical-align: middle

.app-footer .monoku
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: -75px -146px
  width: 67px
  height: 32px
  text-align: left
  position: relative
  top: -1px

.app-footer .espectador
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: 0 -146px
  width: 75px
  height: 32px
  text-align: left
  position: relative
  top: -2px
  margin-left: 0.5em

.app-footer .congresovisible
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: -169px -178px
  width: 107px
  height: 32px
  text-align: left
  position: relative
  top: 0px

.app-footer .uniandes
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: 0 -29px
  width: 67px
  height: 32px
  text-align: left
  position: relative
  top: 0px
  margin-left: 5px

section
  height: 372px
  padding-top: 9px
  padding-bottom: 32px
  background-color: #f3f2f2
  position: relative

@media screen and (max-width: 960px)
  section
    height: auto !important
    padding-bottom: 60px !important

@media screen and (max-width: 560px)
  section
    padding-bottom: 90px !important

.top-decorator
  position: absolute
  top: 0
  height: 9px
  width: 100%
  left: 0
  background: #e7d303
  z-index: 10

.top-decorator:after,
.top-decorator:before
  content: " "
  position: absolute
  height: 100%
  width: 25%

.top-decorator:before
  right: 0
  background: #e73603

.top-decorator:after
  right: 25%
  background: #0089ff

#main
  height: 272px
  padding-bottom: 0
  text-align: center
  background: #004a8e
  position: relative
  z-index: 6
  color: #fff

#main.last-round:before
  content: " "
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: -167px -29px
  width: 89px
  height: 117px
  text-align: left
  position: absolute
  left: 50%
  top: 30px
  margin-left: -393px
  z-index: 3

@media screen and (max-width: 860px)
  #main.last-round:before
    display: none

#main h1
  margin: 0
  padding-top: 36px
  position: relative
  font-size: 40px
  font-weight: normal
  line-height: 1.1
  padding-left: 0.5em
  padding-right: 0.5em

@media screen and (max-width: 500px)
  #main h1
    font-size: 37px

#main h2
  line-height: 1.1
  font-size: 47px
  font-weight: 700
  text-transform: uppercase
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto
  margin: 0 0 0.5em
  letter-spacing: 2px
  word-spacing: 2px
  padding-left: 0.5em
  padding-right: 0.5em

@media screen and (max-width: 500px)
  #main h2
    font-size: 40px

#main h2:before,
#main h2:after
  content: " "
  width: 10%
  position: absolute
  border-top: 1px solid #fff
  top: 90px

@media screen and (max-width: 900px)
  #main h2:before,
#main h2:after
    display: none

#main h2:before
  left: 10%

#main h2:after
  right: 10%

#main button
  padding: 0.8em 0 0.7em
  width: 255px
  margin: 0 20px 20px
  border: 2px solid #2a6da9
  font-size: 1.1em
  font-weight: 700

#main .view-all
  background-color: #003163

#main .view-all:hover
  background-color: #004a8e
  border-color: #fff

#main .go-to-poll
  color: #004a8e
  background: #fff
  border-color: #fff

#main .go-to-poll:hover
  color: #fff
  background-color: #004a8e

#candidates
  padding: 15px 15px 0
  position: relative

#candidates.last-round .main-title
  text-align: center

#candidates.last-round .candidates-list
  text-align: center

#candidates .main-title
  text-align: left
  padding: 10px
  border-bottom: 1px solid #ccc
  margin-bottom: 0

#candidates .main-title:after,
#candidates .main-title:before
  display: none

#candidates .find-your-candidate
  position: absolute
  right: 25px
  top: 28px
  padding: 0.4em 1.1em 0.3em
  background-color: #004a8e

@media screen and (max-width: 960px)
  #candidates .find-your-candidate
    top: 86px
    right: 15px

@media screen and (max-width: 500px)
  #candidates .find-your-candidate
    position: static
    display: block
    margin: 0.6em auto 0
    width: 100%
    padding: 0.6em 0

#candidates .find-your-candidate:hover,
#candidates .find-your-candidate:focus
  background-color: #003d75

#candidates .candidates-list
  padding: 0
  margin: 10px 0 0

@media screen and (max-width: 960px)
  #candidates .candidates-list
    margin: 60px 0 0

@media screen and (max-width: 500px)
  #candidates .candidates-list
    margin: 0

#candidates .candidate--in-list
  list-style: none
  display: inline-block
  position: relative
  width: 20%
  height: 240px
  padding: 0 15px
  vertical-align: top
  border-left: 1px solid #ccc
  text-align: center
  cursor: pointer
  min-width: 186px
  margin-bottom: 15px

@media screen and (max-width: 960px)
  #candidates .candidate--in-list
    display: block
    width: auto
    margin: 0
    overflow: hidden
    position: relative
    padding: 0 160px 0 110px
    height: 116px
    border: none
    border-top: 1px solid #ccc

  #candidates .candidate--in-list:first-child
    border-top: none

  #candidates .candidate--in-list .img-container
    position: absolute
    left: 0
    top: 10px

@media screen and (max-width: 500px)
  #candidates .candidate--in-list
    text-align: left
    padding-right: 0
    height: auto
    min-height: 116px
    padding-bottom: 10px

#candidates .candidate--in-list:hover .candidate__view-more
  background-color: #004a8e
  color: #fff

#candidates .candidate--in-list:first-child
  border: none

#candidates .candidate__name,
#candidates .candidate__party
  text-align: left
  margin: 0

#candidates .candidate__name
  font-weight: 900
  font-size: 0.9em
  text-transform: uppercase
  margin-top: 0.5em

@media screen and (max-width: 960px)
  #candidates .candidate__name
    margin-top: 2em

@media screen and (max-width: 500px)
  #candidates .candidate__name
    margin-top: 1.4em

#candidates .candidate__party
  font-weight: 700
  font-size: 0.8em

#candidates .candidate__catchword
  font-size: 0.7em
  text-align: left
  border-top: 1px solid #ccc
  padding-top: 8px
  margin-top: 8px
  line-height: 1.1
  font-weight: 500
  color: #222
  height: 46px
  margin-bottom: 0
  position: absolute
  top: 152px
  left: 8%
  width: 82%

@media screen and (max-width: 960px)
  #candidates .candidate__catchword
    position: static
    border: none

@media screen and (max-width: 500px)
  #candidates .candidate__catchword
    height: auto
    margin-top: 0

#candidates .candidate__view-more
  border: 1px solid #004a8e
  color: #004a8e
  background-color: #f3f2f2
  padding: 0.2em 0
  width: 140px
  position: absolute
  bottom: 0
  left: 50%
  margin-left: -70px

@media screen and (max-width: 960px)
  #candidates .candidate__view-more
    right: 0
    top: 35px
    margin: 0
    left: auto
    bottom: auto
    padding: 1em 0

@media screen and (max-width: 500px)
  #candidates .candidate__view-more
    position: static
    margin-top: 0.6em
    width: 100%
    padding: 0.3em 0

#candidates .candidate__view-more:hover,
#candidates .candidate__view-more:focus
  background-color: #004a8e
  color: #fff

#candidate
  padding: 25px 30px 47px
  position: relative
  height: auto

@media screen and (max-width: 600px)
  #candidate
    padding-left: 20px
    padding-right: 20px

#candidate .main-title
  text-align: left
  padding: 0

#candidate .main-title:after,
#candidate .main-title:before
  display: none

#candidate .img-container
  display: inline-block
  vertical-align: top

#candidate .candidate-info__data
  display: inline-block
  vertical-align: top
  width: 320px

@media screen and (max-width: 580px)
  #candidate .candidate-info__data
    width: 100%
    padding-left: 0px

#candidate .cadidate__name
  font-weight: 900
  font-size: 1.3em
  margin: 0
  padding: 6px 0 0

#candidate .candidate__party
  font-weight: 700
  font-size: 1.2em
  margin: 0
  padding: 0

#candidate .candidate__catchword
  font-weight: 500
  font-size: 0.8em
  margin: 0.4em 0 0.6em
  line-height: 1.1

#candidate .share-box span
  font-size: 0.8em
  font-weight: 500
  color: #777

#candidate .share-box a
  font-family: icomoon
  font-size: 1.1em
  color: #004a8e
  text-decoration: none
  width: 1.7em
  height: 1.7em
  line-height: 1.7
  display: inline-block
  border: 1px solid #004a8e
  text-align: center
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px
  margin-left: 0.3em
  vertical-align: middle

#candidate .share-box a:hover
  background-color: #004a8e
  background-color: #002f5b
  color: #fff

#candidate .share-box a.share-box__twitter:hover
  background-color: #4099ff
  border-color: #4099ff

#candidate .share-box a.share-box__facebook:hover
  background-color: #3b5998
  border-color: #3b5998

#candidate .app-nav
  position: absolute
  top: 92px
  right: 30px

@media screen and (max-width: 1000px)
  #candidate .app-nav
    top: 22px

@media screen and (max-width: 875px)
  #candidate .app-nav
    width: 240px
    text-align: right

  #candidate .app-nav button
    margin-bottom: 10px

@media screen and (max-width: 815px)
  #candidate .app-nav
    width: auto
    position: static
    text-align: left
    margin: 1em 0 3.7em

  #candidate .app-nav button
    margin: 0

@media screen and (max-width: 580px)
  #candidate .app-nav button
    width: 150px
    margin: 6px 0 !important

#candidate .app-nav button
  padding: 0.8em 0
  width: 230px
  margin-left: 20px
  background-color: #004a8e

#candidate .app-nav button:hover
  background-color: #003d75

#candidate .app-nav .view-candidates
  background-color: #f3f2f2
  color: #004a8e
  border: 1px solid #004a8e

#candidate .app-nav .view-candidates:hover
  background-color: #003d75
  color: #fff

#candidate .tabs__container
  position: relative
  border: 1px solid #ccc
  position: relative
  margin-top: 1.2em

#candidate .tabs__container .tabs__nav
  position: absolute
  bottom: 100%
  left: 35%

@media screen and (max-width: 815px)
  #candidate .tabs__container .tabs__nav
    left: -1px

#candidate .tabs__container .tabs__nav button
  background-color: #ccc
  color: #777
  font-weight: 500
  margin-right: 0.5em
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -ms-border-radius: 0
  -o-border-radius: 0
  border-radius: 0
  border: 1px solid #ccc

@media screen and (max-width: 580px)
  #candidate .tabs__container .tabs__nav button
    font-size: 0.9em
    padding: 0.8em

#candidate .tabs__container .tabs__nav button:active,
#candidate .tabs__container .tabs__nav button:focus
  outline: none

#candidate .tabs__container .tabs__nav .active
  background-color: #f3f2f2
  border-bottom-color: #f3f2f2

#candidate .content
  padding: 1em 1.2em

#candidate .answers
  font-weight: 700
  color: #004a8e

@media screen and (max-width: 580px)
  #candidate .answers
    padding-left: 1.8em

#candidate .answers .question
  color: #555
  font-weight: 500
  margin: 0

#candidate .answers .response
  border: 1px solid #004a8e
  margin: 0.5em 0 1em 0
  color: #004a8e
  padding: 0.5em 0 0.4em
  width: 80px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px
  text-transform: uppercase
  text-align: center
  cursor: default

#candidate .answers .explanation
  font-weight: 300
  font-size: 0.9em
  padding: 0.8em 1.2em 0.7em
  color: #666
  background: #e0e0e0
  width: 70%
  position: relative
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto
  line-height: 1.2
  border-left: 4px solid #b8b8b8
  margin: -0.3em 0 1em 0

@media screen and (max-width: 600px)
  #candidate .answers .explanation
    width: auto

@media screen and (max-width: 900px)
  #start-poll
    padding-bottom: 1em

#start-poll .intro
  width: 60%
  margin: 1em auto
  text-align: center
  font-size: 1.2em
  color: #737377
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto

@media screen and (max-width: 700px)
  #start-poll .intro
    width: 80%

@media screen and (max-width: 500px)
  #start-poll .intro
    width: 90%

#start-poll .centered
  text-align: center

#start-poll button
  width: 250px
  padding: 1em 0 0.8em
  margin-top: 1em
  background-color: #004a8e

#start-poll button:hover
  background-color: #003d75

#start-poll .go-to-candidates
  color: #004a8e
  font-weight: 700
  display: inline-block
  text-align: center
  margin-top: 1em
  height: 1.5em
  line-height: 1.5em
  font-size: 0.65em
  text-transform: uppercase
  position: relative
  color: #004a8e

#start-poll .go-to-candidates:hover
  color: #003d75

#start-poll .go-to-candidates:before
  content: "\e602"
  position: absolute
  right: 100%
  margin-right: 0.2em
  top: 0
  font-size: 1.2em
  text-decoration: none

#poll
  height: 360px
  overflow: hidden

#poll .main-title
  margin-bottom: 0

#poll .answers-index
  text-align: center
  padding: 0 1.5em

#poll .answers-index i
  background: #ccc
  border-radius: 50%
  width: 6px
  height: 6px
  border: 2px solid #ccc
  display: inline-block
  margin: 0 4px
  vertical-align: middle
  cursor: pointer

#poll .answers-index i.active,
#poll .answers-index i.answered
  width: 9px
  height: 9px
  border: none

#poll .answers-index i.answered
  background: #888

#poll .answers-index i.active
  background: #004a8e

#poll .answers-index .prev,
#poll .answers-index .next
  font-family: icomoon
  vertical-align: middle
  text-decoration: none
  color: #004a8e
  font-weight: 900

#poll .left
  display: inline-block
  width: 70%
  vertical-align: top
  position: relative
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)
  -ms-transform: translate3d(0, 0, 0)
  -o-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

@media screen and (max-width: 700px)
  #poll .left
    width: auto
    display: block

#poll .recommendations
  display: inline-block
  width: 30%
  vertical-align: top

#poll .question h2
  margin: 0
  padding: 30px 40px 0 60px
  height: 130px
  font-size: 1.2em
  color: #737377
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto
  line-height: 1.3

@media screen and (max-width: 960px)
  #poll .question h2
    height: auto
    margin-bottom: 1.3em

@media screen and (max-width: 700px)
  #poll .question h2
    padding: 20px 20px 0

#poll .question h2 .help
  color: #004a8e
  font-size: 0.6em
  vertical-align: middle
  display: inline-block
  text-transform: uppercase
  font-weight: 700
  margin-left: 0.4em

#poll .question h2 .help:after
  display: inline-block
  font-family: icomoon
  content: "\e600"
  margin-left: 0.3em
  vertical-align: top
  color: #004a8e
  text-decoration: none

#poll .question .choices
  float: right
  padding-right: 30px
  padding-bottom: 5px

@media screen and (max-width: 960px)
  #poll .question .choices
    float: none
    text-align: center
    margin-top: 0.6em

@media screen and (max-width: 350px)
  #poll .question .choices
    padding-right: 0

#poll .question .choice
  background-color: #fff
  border: 1px solid #004a8e
  color: #004a8e
  font-size: 1.5em
  font-weight: 700
  padding: 0.3em 0 0.2em
  width: 110px
  margin-right: 8px

#poll .question .choice.active,
#poll .question .choice:focus,
#poll .question .choice:active
  background-color: #004a8e
  color: #fff

#poll .question .choice:active,
#poll .question .choice:focus
  outline: none

@media screen and (max-width: 350px)
  #poll .question .choice.chioce--no
    margin-right: 0

@media screen and (max-width: 350px)
  #poll .question .skipwrapper
    display: block
    margin-top: 0.8em

#poll .question .skip
  display: inline-block
  font-weight: 700
  color: #004a8e
  position: relative

#poll .question .skip:after
  font-size: 1em
  position: absolute
  content: "\e605"
  left: 100%
  top: 0px
  font-family: icomoon
  text-decoration: none

#poll .question .skip:hover
  color: #002f5b

#poll .relevancy
  margin-left: 60px
  padding-bottom: 2.3em
  float: left

@media screen and (max-width: 960px)
  #poll .relevancy
    float: none
    margin-left: 0

#poll .relevancy h3
  margin: 0
  font-size: 0.9em
  color: #004a8e
  font-weight: 500
  text-align: center
  margin-bottom: 0.5em

@media screen and (max-width: 700px)
  #poll .relevancy h3
    padding: 0 1em
    color: #777

#poll .relevancy .relevancy__level
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: 0 0
  width: 284px
  height: 29px
  text-align: left
  overflow: visible
  vertical-align: middle
  text-indent: 0
  list-style: none
  position: relative
  margin: 0

@media screen and (max-width: 960px)
  #poll .relevancy .relevancy__level
    margin: auto
    display: block

#poll .relevancy .relevancy__level li
  position: absolute
  top: 12px
  margin-top: -5px
  list-style: none

#poll .relevancy .relevancy__level .low
  left: 7px

#poll .relevancy .relevancy__level .normal
  left: 129px

#poll .relevancy .relevancy__level .high
  left: 262px

#poll .relevancy .relevancy__level i
  display: inline-block
  width: 15px
  height: 15px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  background-color: #999
  display: block
  cursor: pointer

#poll .relevancy .relevancy__level li:hover i
  background-color: #004a8e

#poll .relevancy .relevancy__level .active i
  background: #004a8e

#poll .relevancy .relevancy__level .relevancy-tooltip
  position: absolute
  top: -24px
  left: 50%
  margin-left: -47px
  margin-top: 10px
  text-align: center
  width: 95px
  color: #777
  font-weight: 700
  text-transform: uppercase
  font-size: 0.9em
  cursor: pointer
  padding-top: 36px

#poll .relevancy .relevancy__level .relevancy-tooltip.active
  color: #004a8e

#poll .recommendations
  text-align: center
  position: relative
  z-index: 2
  border-left: 1px solid #ccc
  height: 200px
  margin-top: 10px
  background-color: #f3f2f2

#poll .recommendations .show-match
  visibility: hidden
  position: absolute
  top: 18px
  background-color: #004a8e
  color: #fff
  -webkit-border-radius: 3px 0 0 3px
  -moz-border-radius: 3px 0 0 3px
  -ms-border-radius: 3px 0 0 3px
  -o-border-radius: 3px 0 0 3px
  border-radius: 3px 0 0 3px
  padding: 0.6em 0.8em
  right: 50%
  -webkit-transition: all 0.5s linear
  -moz-transition: all 0.5s linear
  -o-transition: all 0.5s linear
  transition: all 0.5s linear

#poll .recommendations .hide-match
  display: none

@media screen and (max-width: 700px)
  #poll .recommendations
    position: absolute
    border: none
    left: 100%
    top: 0
    width: 100%
    height: 100%
    margin: 0
    padding-top: 80px

  #poll .recommendations .show-match
    visibility: visible

  #poll .recommendations.found-match .show-match
    right: 100%
    -webkit-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    -o-transition: all 0.5s linear
    transition: all 0.5s linear

  #poll .recommendations .hide-match
    display: block
    position: absolute
    margin: 0
    color: #004a8e
    font-weight: 500
    top: 1.5em
    left: 2em
    text-decoration: none

  #poll .recommendations .hide-match:before
    text-decoration: none
    position: absolute
    right: 100%
    margin-right: 3px
    content: "\e602"
    top: 1px
    font-family: icomoon

#poll .recommendations .recommendations__recommendation--first
  margin-top: -35px

#poll .recommendations .recommendations__recommendation--first hr
  border: none
  border-top: 1px solid #ccc
  margin: 1em auto 0.6em
  width: 85%

#poll .recommendations .recommendations__recommendation--first figure,
#poll .recommendations .recommendations__recommendation--second figure,
#poll .recommendations .recommendations__recommendation--third figure
  position: relative
  margin: 0 auto 0

#poll .recommendations .recommendations__recommendation--first figure .img-container,
#poll .recommendations .recommendations__recommendation--second figure .img-container,
#poll .recommendations .recommendations__recommendation--third figure .img-container
  position: relative
  z-index: 2

#poll .recommendations .recommendations__recommendation--first figure figcaption,
#poll .recommendations .recommendations__recommendation--second figure figcaption,
#poll .recommendations .recommendations__recommendation--third figure figcaption
  color: #fff
  display: inline-block
  width: 100px
  -webkit-border-radius: 12px 0 0 12px
  -moz-border-radius: 12px 0 0 12px
  -ms-border-radius: 12px 0 0 12px
  -o-border-radius: 12px 0 0 12px
  border-radius: 12px 0 0 12px
  padding: 0.8em
  font-size: 0.7em
  text-transform: uppercase
  font-weight: 500
  line-height: 1
  vertical-align: middle
  margin-right: -10px

#poll .recommendations .recommendations__recommendation--first figure figcaption strong,
#poll .recommendations .recommendations__recommendation--second figure figcaption strong,
#poll .recommendations .recommendations__recommendation--third figure figcaption strong
  display: block
  text-align: center
  font-weight: 900
  font-size: 1.3em

#poll .recommendations .recommendations__recommendation--first .candidate-data,
#poll .recommendations .recommendations__recommendation--second .candidate-data,
#poll .recommendations .recommendations__recommendation--third .candidate-data
  display: inline-block
  font-size: 0.9em
  vertical-align: middle
  text-align: left
  margin-left: 0.3em

#poll .recommendations .recommendations__recommendation--first .recommendations__recommendation__name,
#poll .recommendations .recommendations__recommendation--second .recommendations__recommendation__name,
#poll .recommendations .recommendations__recommendation--third .recommendations__recommendation__name
  font-weight: 900
  text-transform: uppercase
  margin-top: 0.4em
  margin-bottom: 0

#poll .recommendations .recommendations__recommendation--first .recommendations__recommendation__party,
#poll .recommendations .recommendations__recommendation--second .recommendations__recommendation__party,
#poll .recommendations .recommendations__recommendation--third .recommendations__recommendation__party
  margin: -2px 0 0.5em

#poll .recommendations .recommendations__recommendation--first .recommendations__recommendation__result,
#poll .recommendations .recommendations__recommendation--second .recommendations__recommendation__result,
#poll .recommendations .recommendations__recommendation--third .recommendations__recommendation__result
  background-color: #f3f2f2
  border: 1px solid #004a8e
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px
  color: #004a8e
  padding: 0.4em 1.3em 0.3em

#poll .recommendations .recommendations__recommendation--first .recommendations__recommendation__result:hover,
#poll .recommendations .recommendations__recommendation--second .recommendations__recommendation__result:hover,
#poll .recommendations .recommendations__recommendation--third .recommendations__recommendation__result:hover
  background-color: #004a8e
  color: #fff

#poll .recommendations .recommendations__recommendation--second,
#poll .recommendations .recommendations__recommendation--third
  display: inline-block

#poll .recommendations .recommendations__recommendation--second figure figcaption,
#poll .recommendations .recommendations__recommendation--third figure figcaption
  width: 60px

#poll .recommendations .recommendations__recommendation--third
  margin-left: 10px

#poll .recommendations .recommendations__recommendation--third figure figcaption
  -webkit-border-radius: 0 12px 12px 0
  -moz-border-radius: 0 12px 12px 0
  -ms-border-radius: 0 12px 12px 0
  -o-border-radius: 0 12px 12px 0
  border-radius: 0 12px 12px 0
  margin-right: 0
  margin-left: -10px

@media screen and (max-width: 700px)
  #poll .recommendation__empty
    display: none

#poll .recommendation__empty .loader-container
  position: relative
  width: 100px
  height: 100px
  background-color: #aaa
  margin: 0 auto 0.6em

#poll .recommendation__empty .mask
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: -67px -29px
  width: 100px
  height: 104px
  text-align: left
  position: absolute
  top: 0
  left: 0
  display: block
  z-index: 2
  width: 101%

#poll .recommendation__empty .progress
  position: absolute
  bottom: 0
  left: 0
  width: 100px
  background-color: #004a8e
  z-index: 1
  -webkit-transition: height 1s ease-out
  -moz-transition: height 1s ease-out
  -o-transition: height 1s ease-out
  transition: height 1s ease-out

#poll .recommendation__empty .recommendation__empty__text
  width: 70%
  margin: auto
  line-height: 1.2
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto
  color: #7f7377

@keyframes rotateRight
  0%
    opacity: 1
    -webkit-transform-origin: 0 0 50%
    -moz-transform-origin: 0 0 50%
    -ms-transform-origin: 0 0 50%
    -o-transform-origin: 0 0 50%
    transform-origin: 0 0 50%
    -webkit-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -moz-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -ms-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -o-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    transform: perspective(800px) rotateY(0deg) translate3d(0px)
  100%
    opacity: 0
    -webkit-transform-origin: 50% 0 50%
    -moz-transform-origin: 50% 0 50%
    -ms-transform-origin: 50% 0 50%
    -o-transform-origin: 50% 0 50%
    transform-origin: 50% 0 50%
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -moz-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -ms-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -o-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    transform: perspective(800px) rotateY(-180deg) translateZ(150px)
@keyframes rotateRight
  0%
    opacity: 1
    -webkit-transform-origin: 0 0 50%
    -moz-transform-origin: 0 0 50%
    -ms-transform-origin: 0 0 50%
    -o-transform-origin: 0 0 50%
    transform-origin: 0 0 50%
    -webkit-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -moz-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -ms-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -o-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    transform: perspective(800px) rotateY(0deg) translate3d(0px)
  100%
    opacity: 0
    -webkit-transform-origin: 50% 0 50%
    -moz-transform-origin: 50% 0 50%
    -ms-transform-origin: 50% 0 50%
    -o-transform-origin: 50% 0 50%
    transform-origin: 50% 0 50%
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -moz-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -ms-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -o-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    transform: perspective(800px) rotateY(-180deg) translateZ(150px)
@keyframes rotateRight
  0%
    opacity: 1
    -webkit-transform-origin: 0 0 50%
    -moz-transform-origin: 0 0 50%
    -ms-transform-origin: 0 0 50%
    -o-transform-origin: 0 0 50%
    transform-origin: 0 0 50%
    -webkit-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -moz-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -ms-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -o-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    transform: perspective(800px) rotateY(0deg) translate3d(0px)
  100%
    opacity: 0
    -webkit-transform-origin: 50% 0 50%
    -moz-transform-origin: 50% 0 50%
    -ms-transform-origin: 50% 0 50%
    -o-transform-origin: 50% 0 50%
    transform-origin: 50% 0 50%
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -moz-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -ms-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -o-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    transform: perspective(800px) rotateY(-180deg) translateZ(150px)
@keyframes rotateRight
  0%
    opacity: 1
    -webkit-transform-origin: 0 0 50%
    -moz-transform-origin: 0 0 50%
    -ms-transform-origin: 0 0 50%
    -o-transform-origin: 0 0 50%
    transform-origin: 0 0 50%
    -webkit-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -moz-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -ms-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    -o-transform: perspective(800px) rotateY(0deg) translate3d(0px)
    transform: perspective(800px) rotateY(0deg) translate3d(0px)
  100%
    opacity: 0
    -webkit-transform-origin: 50% 0 50%
    -moz-transform-origin: 50% 0 50%
    -ms-transform-origin: 50% 0 50%
    -o-transform-origin: 50% 0 50%
    transform-origin: 50% 0 50%
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -moz-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -ms-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    -o-transform: perspective(800px) rotateY(-180deg) translateZ(150px)
    transform: perspective(800px) rotateY(-180deg) translateZ(150px)
#match
  position: relative
  height: 390px

#match .main-title
  margin-bottom: 0.3em

#match .intro
  text-align: center
  color: #737377
  font-size: 1.2em
  margin: 0 0 0.3em
  font-weight: 500

#match .match
  text-align: center

#match .match figure
  position: relative
  margin: 0 auto 0

#match .match figure .img-container
  position: relative
  z-index: 2

#match .match figure figcaption
  color: #fff
  display: inline-block
  width: 100px
  -webkit-border-radius: 12px 0 0 12px
  -moz-border-radius: 12px 0 0 12px
  -ms-border-radius: 12px 0 0 12px
  -o-border-radius: 12px 0 0 12px
  border-radius: 12px 0 0 12px
  padding: 0.8em
  font-size: 0.7em
  text-transform: uppercase
  font-weight: 500
  line-height: 1
  vertical-align: middle
  margin-right: -10px

#match .match figure figcaption strong
  display: block
  text-align: center
  font-weight: 900
  font-size: 1.3em

#match .match .match__name
  font-weight: 900
  text-transform: uppercase
  margin-top: 0.4em
  margin-bottom: 0

#match .match .match__party
  margin: 0px 0 1em

#match .match .match__result,
#match .match .match__repeat,
#match .match .vote-intention
  padding-left: 0
  padding-right: 0
  width: 200px
  margin: 0 10px 10px
  border: 1px solid #004a8e

#match .match .vote-intention
  background-color: #f3f2f2
  color: #004a8e

#match .match .vote-intention:hover
  background-color: #004a8e
  color: #fff

#match .match .match__result
  background-color: #004a8e

#match .match .match__result:hover
  background-color: #003a6f

#match .match .match__repeat
  background-color: #f3f2f2
  border: 1px solid #004a8e
  color: #004a8e

#match .match .match__repeat:hover
  background-color: #003a6f
  color: #fff

#match .match .your-vote
  font-size: 1.1em
  font-weight: 500
  color: #004a8e
  margin: 0 0 0.2em
  padding: 0 1em

#match .match .left-actions
  position: absolute
  left: 1em
  top: 1em
  text-align: left

@media screen and (max-width: 800px)
  #match .match .left-actions
    position: static
    text-align: center
    margin-top: 1.6em

#match .match .left-actions p
  font-weight: 700
  margin-bottom: 0.3em

#match .match .left-actions .match__restart
  display: block
  color: #004a8e
  margin-top: 0.2em

#match .match .left-actions .match__restart:before
  content: "\f021"
  display: inline-block
  vertical-align: middle
  margin-right: 0.2em
  font-family: icomoon
  text-decoration: none

#match .match .left-actions .share-box__twitter,
#match .match .left-actions .share-box__facebook
  font-family: icomoon
  font-size: 1.2em
  color: #004a8e
  text-decoration: none
  width: 1.7em
  height: 1.8em
  line-height: 1.8
  display: inline-block
  border: 1px solid #004a8e
  text-align: center
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -ms-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  margin-right: 0.5em
  vertical-align: middle

#match .match .left-actions .share-box__twitter:hover,
#match .match .left-actions .share-box__facebook:hover
  background-color: #004a8e
  background-color: #002f5b
  color: #fff

#match .match .left-actions .share-box__twitter:hover
  background-color: #4099ff
  border-color: #4099ff

#match .match .left-actions .share-box__facebook:hover
  background-color: #3b5998
  border-color: #3b5998

#match .match--second,
#match .match--third
  display: inline-block

#match .match--second figure figcaption,
#match .match--third figure figcaption
  width: 60px

#match .match--third
  margin-left: 10px

#match .match--third figure figcaption
  -webkit-border-radius: 0 12px 12px 0
  -moz-border-radius: 0 12px 12px 0
  -ms-border-radius: 0 12px 12px 0
  -o-border-radius: 0 12px 12px 0
  border-radius: 0 12px 12px 0
  margin-right: 0
  margin-left: -10px

#match .back
  position: relative
  color: #004a8e
  font-weight: 500
  text-transform: uppercase
  font-size: 0.9em
  padding-left: 1.3em
  width: 200px
  margin: 0.5em auto 0
  text-align: center
  display: block

#match .back:before
  position: absolute
  left: 0
  content: "\e602"
  margin-right: 0.2em
  font-size: 1.2em
  font-family: icomoon
  top: -1px

#match .back:hover
  color: #002f5b

#results
  padding-left: 40px
  padding-right: 40px
  color: #737377
  text-align: center
  height: auto
  padding-bottom: 80px

@media screen and (max-width: 800px)
  #results
    padding-left: 20px
    padding-right: 20px

#results .main-title
  text-align: left
  margin-bottom: 0
  padding-top: 14px
  text-align: left
  line-height: 1

#results .main-title:after,
#results .main-title:before
  display: none

#results .intro
  text-align: left
  margin-top: 0
  -webkit-font-smoothing: auto
  -moz-font-smoothing: auto
  -moz-osx-font-smoothing: auto
  text-rendering: optimizelegibility
  font-smooth: auto
  font-size: 1.1em

@media screen and (max-width: 800px)
  #results .intro
    margin-bottom: 0.4em

#results .back
  position: absolute
  top: 90px
  left: 40px
  color: #004a8e
  font-weight: 500
  text-transform: uppercase
  font-size: 0.8em
  padding-left: 1.3em
  font-weight: 700

@media screen and (max-width: 800px)
  #results .back
    position: relative
    left: auto
    top: auto
    margin: 0 0 1.2em
    display: block
    text-align: left
    width: 230px

#results .back:before
  position: absolute
  left: 0
  content: "\e602"
  margin-right: 0.2em
  font-size: 1.2em
  font-family: icomoon
  top: -1px
  text-decoration: none

#results .back:hover
  color: #002f5b

#results article
  position: relative

#results aside,
#results article
  display: inline-block
  vertical-align: bottom

@media screen and (max-width: 660px)
  #results aside,
#results article
    display: block

#results .tr:after
  content: " "
  clear: both
  display: block
  line-height: 0
  height: 0

#results .th,
#results .td
  float: left
  height: 20px
  line-height: 20px

#results .th
  border: 1px solid #ccc
  border-left: none
  position: relative
  height: 30px

#results .th:first-child
  border-left: 1px solid #ccc

#results .th.response
  color: #004a8e
  font-size: 0.7em
  text-transform: uppercase
  font-weight: 500
  border-right: none

#results .th.best-match
  position: relative
  border: none

#results .th.best-match .abs-radius
  position: absolute
  left: 0
  right: 0
  top: -15px
  bottom: 0
  border-top: 2px solid #f7921e
  border-left: 2px solid #f7921e
  border-right: 2px solid #f7921e
  -webkit-border-radius: 6px 6px 0 0
  -moz-border-radius: 6px 6px 0 0
  -ms-border-radius: 6px 6px 0 0
  -o-border-radius: 6px 6px 0 0
  border-radius: 6px 6px 0 0

#results .th.padding-right
  border-right: none

#results .th .img-container
  cursor: pointer
  position: absolute
  top: -33px
  left: 50%
  margin-left: -27px

#results .extra-mile
  width: 30px
  border-left: none

@media screen and (max-width: 660px)
  #results .extra-mile
    display: none

#results .index
  width: 40px

@media screen and (max-width: 660px)
  #results .index
    width: 12%

#results .response
  width: 130px

@media screen and (max-width: 660px)
  #results .response
    width: 42%

#results .match
  width: 85px

@media screen and (max-width: 660px)
  #results .match
    width: 42%

#results .table-container
  padding-top: 40px

@media screen and (max-width: 900px)
  #results .table-container
    overflow: auto
    padding-bottom: 12px
    margin-bottom: -12px

  #results .table-container .close
    display: none

#results.last-round .force-width
  width: 382px

#results .force-width
  width: 642px

@media screen and (max-width: 660px)
  #results .force-width .index
    width: 40px

  #results .force-width .response
    width: 100px

  #results .force-width .match
    width: 100px

  #results .force-width .extra-mile
    width: 0
    border: none
    border-left: 1px solid #ccc
    display: block
    padding: 0

#results .td
  border: 1px solid #ccc
  border-left: none
  border-top: none
  padding: 0 0.2em
  font-weight: 700
  font-size: 0.9em
  text-transform: uppercase
  position: relative

#results .td:first-child
  border-left: 1px solid #ccc

#results .td .abs-radius
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  border-left: 2px solid #f7921e
  border-right: 2px solid #f7921e

#results .td.best-match
  border: none

#results .td.index
  text-align: right
  color: #004a8e
  font-weight: 700
  font-size: 1em

#results .td.response
  text-align: center
  border-right: none
  font-weight: 500

#results .td.match
  text-align: center
  position: relative
  font-weight: 500

#results .td.padding-right
  border-right: none

#results .td .matched
  font-family: icomoon
  left: 1.2em
  top: 0.1em
  position: absolute
  color: #8cc63f

#results .thead .tr:first-child .td
  border-top: 1px solid #ccc

#results .thead .tr:first-child .best-match
  border-top: none

#results .last-row .best-match .abs-radius
  border-bottom: 2px solid #f7921e
  bottom: -10px
  -webkit-border-radius: 0 0 6px 6px
  -moz-border-radius: 0 0 6px 6px
  -ms-border-radius: 0 0 6px 6px
  -o-border-radius: 0 0 6px 6px
  border-radius: 0 0 6px 6px

#results .actions
  margin-left: 15px

@media screen and (max-width: 660px)
  #results .actions
    margin-left: auto
    margin-right: auto
    text-align: center
    display: block
    margin-top: 2em

#results .actions button
  background-color: #004a8e
  display: block
  width: 150px
  padding: 0.5em 0 0.4em

@media screen and (max-width: 660px)
  #results .actions button
    display: inline-block
    width: 120px

@media screen and (max-width: 660px)
  #results .actions button.repeat
    margin: 0 0 0 10px

#results .actions button:hover
  background-color: #002f5b

#results .actions .repeat
  background-color: #f3f2f2
  border: 1px solid #004a8e
  color: #004a8e
  margin-top: 10px

#results .actions .repeat:hover
  background-color: #004a8e
  background-color: #002f5b
  color: #fff

#results .close
  position: absolute
  right: -0.7em
  top: -0.7em
  color: #1670a3
  font-size: 2.4em
  width: 1.3em
  height: 1.3em
  border: 3px solid #1670a3
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  text-decoration: none
  line-height: 1.2
  background-color: #f3f2f2

#results .close:before
  content: "\e609"
  font-family: icomoon

#results .actions .second-close
  display: none

@media screen and (max-width: 900px)
  #results .actions .second-close
    display: inline-block

#results .share
  font-weight: 700
  padding-right: 15px
  text-align: right

@media screen and (max-width: 660px)
  #results .share
    display: block
    text-align: left
    margin: 0 auto 1.5em

  #results .share p
    display: inline

#results .share p
  margin-bottom: 0.3em
  font-size: 0.9em

#results .share a
  font-family: icomoon
  font-size: 1.4em
  color: #004a8e
  text-decoration: none
  width: 1.7em
  height: 1.8em
  line-height: 1.8
  display: inline-block
  border: 1px solid #004a8e
  text-align: center
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  -ms-border-radius: 4px
  -o-border-radius: 4px
  border-radius: 4px
  margin-left: 0.5em
  vertical-align: middle

#results .share a:hover
  background-color: #004a8e
  background-color: #002f5b
  color: #fff

#results .share a.share-box__twitter:hover
  background-color: #4099ff
  border-color: #4099ff

#results .share a.share-box__facebook:hover
  background-color: #3b5998
  border-color: #3b5998

#intention
  background: #07091b
  color: #fff
  text-align: center
  height: 405px

#intention ul
  margin: 2em 1em
  padding: 0

#intention .main-title
  color: #fff

#intention .main-title:after,
#intention .main-title:before
  border-color: #fff

#intention li
  display: inline-block
  padding: 0.3em 20px
  border-left: 1px solid #fff
  height: 153px
  width: 209px
  vertical-align: middle
  cursor: pointer

@media screen and (max-width: 900px)
  #intention li
    border: none

@media screen and (max-width: 700px)
  #intention li
    padding: 0.3em 10px
    width: 189px

#intention li:first-child
  border-left: none

#intention h2,
#intention h3
  margin: 0

#intention h2
  font-size: 1em
  font-weight: 600

#intention h3
  font-size: 0.9em
  font-weight: 600

#intention .img-container
  background: transparent
  overflow: hidden

#intention .other-vote__figure
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%
  padding: 3px
  border: 2px solid #fff
  display: inline-block
  overflow: hidden

#intention .other-vote__figure i
  display: block
  width: 86px
  height: 86px
  background: #fff
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  -ms-border-radius: 50%
  -o-border-radius: 50%
  border-radius: 50%

#intention .no-vote .other-vote__figure
  border-color: #ed1c24
  color: #ed1c24

#intention .no-vote .other-vote__figure i
  background: none
  font-size: 5em
  font-style: normal
  font-family: icomoon
  line-height: 86px

#intention .selected
  position: relative

#intention .selected:after
  content: " "
  position: absolute
  left: 20px
  top: 0
  overflow: hidden
  display: inline-block
  text-indent: -99999em
  background-position: 0 -178px
  width: 169px
  height: 153px
  text-align: left

@media screen and (max-width: 700px)
  #intention .selected:after
    left: 10px

#intention .vote-sent
  font-size: 1.5em
  margin: 3em 0 1.7em

#intention button
  width: 220px
  font-weight: 500
  font-size: 1.2em
  padding: 0.7em 0 0.6em

#intention button:disabled
  background: #2b2e40
  color: #161a28

#intention button.go-to-home-btn
  font-size: 1em

#intention .your-vote
  margin: 4.5em 0 0
  font-size: 1em

